/*Header*/
.Tab .ajax__tab_header
{height:45px;
    color: #4682b4;
    font-size: 14px;
    font-weight: bold;width:100%; margin:0 auto;
}
/*Body*/
.Tab .ajax__tab_body
{
border:1px solid #b4cbdf;max-width:750px;
}
/*Tab Active*/
.Tab .ajax__tab_active .ajax__tab_tab
     {
	-moz-box-shadow:inset 0px 10px 3px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 10px 3px 0px #cae3fc;
	box-shadow:inset 0px 10px 3px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#58B3F0;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:-0.86px;
	border:3px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 4px 0px #287ace;
	padding-top:10px;


}

/*Tab Hover*/
.Tab .ajax__tab_hover .ajax__tab_tab
{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}

/*Tab Inactive*/
.Tab .ajax__tab_tab
{
    
	-moz-box-shadow:inset 0px 0px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 0px 0px 0px #cae3fc;
	box-shadow:inset 0px 0px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:-0.86px;
	border:3px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}


/*report css*/
section {
        
}

section article:hover {
border:2px solid #a1a1a1;
padding:10px 40px; 

border-radius:20px;
background-color: #80a2bf;
width:85%;height:auto;margin-top:10px;margin-bottom:10px;

-webkit-box-shadow: 0px 0px 5px 3px white;
-moz-box-shadow: 0px 0px 5px 3px white;
box-shadow: 0px 0px 5px 3px white; 
}
section article {
border:2px solid #a1a1a1;
padding:10px 40px; 

border-radius:20px;
background-color: #39557d;
width:85%;height:auto;margin-top:10px;margin-bottom:10px;

-webkit-box-shadow: 0px 0px 5px 3px white;
-moz-box-shadow: 0px 0px 5px 3px white;
box-shadow: 0px 0px 5px 3px white; 
}