.bodyAddmin {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-attachment: fixed;
    background-color:#565656;
    /*background-image: url(images/background.png);
    background-repeat: repeat;*/
    color: #FFF;
}
.AddminButtons {
    opacity: 0.82;display:block;   
}
.AddminButtons:hover {
        opacity: 1; display:block;    
}


.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.InlineButtons{display:inline-block;}
.InlineButtons a,figure,legend{width:100px;display: inline-block;color:ButtonHighlight;
}
.InlineButtons a:hover,figure:hover,legend:hover{width:100px;display: inline-block;color:aquamarine;
}
.buttonsBackground{background: linear-gradient(to right, #000000 0%,#565656 90%);max-width:1300px}